<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width ,initial-scale=1.0"  />
    <meta name="keywords" content="cts,迟同尚, dreal,.Net开发,dreal12" />
    <meta name="description" content="cts(迟同尚)的博客，记录生活点点滴滴。going...." />
    <title>cts博客- @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="/Content/assets/images/gt_favicon.png">
    <!-- Custom styles -->
    <link rel="stylesheet" href="/Content/assets/css/styles.css">
  
    <link href="~/Content/public.css" rel="stylesheet" />
    @RenderSection("headers", false)
</head>
<body>
    <div class="home">
        @Html.Partial("Header")
        <div id="main">
            @RenderBody()
        </div>

        @Html.Partial("Footer")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="/Content/assets/js/template.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
